<% include partials/header.ejs %>

<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Welcome to Admin Panel</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, tempora sed. In porro beatae rerum quae.
        Culpa, veritatis voluptatibus repellat consectetur est, voluptate amet minima minus dignissimos fugit doloribus
        expedita!</p>
    </div>
  </div>
<% include partials/footer.ejs %>