
    <% include partials/header.ejs %>
    <div class="container">
        
    <form method="POST" action="/update/password">
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" class="form-control" id="Password" name="Password" aria-describedby="emailHelp" placeholder="Please type your password">
          <small class="form-text text-muted">password criteria here.</small>
        </div>
        <div class="form-group">
          <label for="RetypePassword">Repeat Password</label>
          <input type="password" class="form-control" id="RetypePassword"  name="RetypePassword"  placeholder="Please retype your password">
          <input type="hidden" name="PasswordToken" value="<%= data.token %>">
          <input type="hidden" name="UserID" value="<%= data.userid %>">
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn" onclick="validatePassword(event)" disabled>Submit</button>
      </form>
    </div>
 
    <% include partials/footer.ejs %>
    <script>
    
        $('#RetypePassword, #Password').on('keyup', function (e) {
        
        if ($('#Password').val().length > 0  && $('#RetypePassword').val().length > 0) {	
          if ($('#Password').val() == $('#RetypePassword').val()) {
            $("input").css('border-color', 'green');
            $("#submitBtn").prop('disabled', false);
          } else 
          {
            $("input").css('border-color', 'red');
            $("#submitBtn").prop('disabled', true);
          }
        }
        });

        function validatePassword(event)
        {
            var  regexCapitalLetter = new RegExp("[A-Z]"); //Uppercase Alphabet.
	   
	   var  regexDigit = new RegExp("[0-9]"); //Uppercase Alphabet.
	   
       var  regexSpecialLetter = new RegExp("[$@$!%*#?&^<>_]"); //Uppercase Alphabet.
       
            var pwdR = $("#Password").val();
            var RpwdR = $("#RetypePassword").val();

            if(regexCapitalLetter.test(pwdR) && regexDigit.test(pwdR) && regexSpecialLetter.test(pwdR) )
            {
                if(pwdR != RpwdR)
                {
                    alert("Password did not match.");
                    event.preventDefault();
                }
            }
            else
            {
                alert("Password must contain a capital letter, a digit and special character");
                event.preventDefault();
            }
        }
        </script>